*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #2b2a2a;
    font-family: sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 100%;
}
.card{
    background: #1c1f2a;
    color: #fff;
    padding: 1.8em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1.2em;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width:30px;
    margin: 0.6em;
    border-radius: 45%;
    border: none;
    height: 30px;
outline: none;
background: #807b7b2b;
color: #cfdce8;
cursor: pointer;
transition: 0.3s ease-in-out;
}
button:hover{
    background: #8b86866b;
}
input.search-bar{
    outline: none;
    border: none;
    padding: 0.3em 0.7em;
    border-radius: 20px;
    background: #807b7b2b;
    color: #d5e2ee;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 103px);
}
h1 .temp{
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 9px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 23px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }
